
/*
    * implies for all elements
*/

* {
    -fx-font-family: "Segoe UI";
}

.background {
    -fx-background-color: #757575;
}

.button {
    -fx-background-color:  #00bcd4;
    -fx-border-color: #00BCD4;
    -fx-text-fill: white;

}

.button:hover{
    -fx-background-color: #4DD0E1;
}

.button-buy{
    -fx-font-size: 18pt;
}

.button-buy:hover{
    -fx-background-color: lightgreen;
}

.button-sell{
    -fx-font-size: 18pt;
}

.button-sell:hover{
    -fx-background-color: #ff4f4c;
}

.button-search-text-removal{
    -fx-background-color: transparent;
    -fx-border-color: null;
}

.button-search-text-removal:hover{
    -fx-background-color: transparent;
}

.radio-button{
    -fx-background-color: #00bcd4;
    -fx-border-color: #FB8C00;
    -fx-text-fill: white;


    -fx-alignment: center;

    -fx-background-radius: 2px;
    -fx-border-radius: 2px;

    -fx-min-height: 25px;
    -fx-min-width: 60px;
}

.radio-button > .radio{
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-pref-width: 0;
    -fx-background-radius: 0px;
    -fx-padding: 0px;
}

.radio-button:selected > .radio > .dot{
    -fx-background-color: transparent;
}

.radio-button:hover{
    -fx-background-color: #4DD0E1;
}

.radio-button:selected{
    -fx-background-color: #FB8C00;
}

.label {
    -fx-text-fill: white;
}

.label-data{
    -fx-text-fill: white;
    -fx-font-size: 16px;
}

.label-title {
    -fx-text-fill: white;
    -fx-font-size: 22px;
}

.label-error-message {
    -fx-text-fill: white;
    -fx-background-color: red;
    -fx-background-radius: 10px;
    -fx-font-size:  14px;
    -fx-alignment: center;

}

.label-colour-change{
    -fx-text-fill: purple;
}

.label-colour-green{
    -fx-text-fill: lightgreen;
}

.label-colour-red{
    -fx-text-fill: red;
}

.text-field {
    -fx-border-color:  #00bcd4;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.menu-bar {
    -fx-background-color: #00bcd4;
    -fx-text-fill: white;
}

.menu-item {
    -fx-background-color: #00bcd4;
}

.menu-item:hover{
    -fx-background-color: #4DD0E1;
}

.context-menu{
    -fx-background-color: #00bcd4;
}

.chart {
    -fx-text-fill: white;
    -fx-background-color: transparent;
}

.chart-title{
    -fx-font-size: 20;
}

.chart-series-line{
    -fx-stroke: white;
}

.chart-plot-background {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.axis {
    -fx-background-color: #757575;
    -fx-background-insets: -10;


    -fx-tick-label-fill: white;
    -fx-text-fill: null;
    -fx-font-color: null;
    -fx-font-family: null;
    -fx-font-size: null;
    -fx-tick-label-font: null;
    -fx-tick-label-font-size: 9pt;
    -fx-tick-length: 15px;
}

.axis-tick-mark {
    -fx-stroke: #00bcd4;
    -fx-stroke-width: 3px;
}

/* removes minor tick marks from chart */
.axis-minor-tick-mark{
    -fx-stroke: transparent;
}

.axis-label {
    -fx-text-fill: white;
}

.combo-box{
    -fx-prompt-text-fill: white;
    -fx-background-color: #00bcd4;
}

.combo-box .arrow{
    -fx-background-color: white;
}

.combo-box-base .text{
    -fx-fill: white;
}

.combo-box:hover{
    -fx-background-color: #4DD0E1;
}

.combo-box-popup .list-view{
    -fx-background-color: #00bcd4;
}

.combo-box-popup .list-view .list-cell{
    -fx-text-fill: white;
    -fx-border-width: 0px;
    -fx-border-color: transparent;

}

.combo-box-popup .list-view .list-cell:hover{
    -fx-background-color: #4DD0E1;
}

.scroll-pane{
    -fx-background-color: transparent;
    -fx-background: transparent;

    /* this is required to stop the chart tick labels from changing size */
    -fx-font: null;
    -fx-font-size: null;
}

.scroll-pane > .corner{
    -fx-background-color: transparent;
}

.scroll-bar{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar .thumb{
    -fx-background-color: white;
    -fx-background-radius: 5px;
}

.scroll-bar .track{
    -fx-background-color: #00bcd4;
    -fx-background-radius: 5px;
}

.increment-button, .decrement-button{
    -fx-background-color: transparent;
}

.increment-arrow, .decrement-arrow {
    -fx-background-color: white;
}

.list-view{
    -fx-background-color: transparent;
}

.list-view .list-cell:filled{
    -fx-background-color: transparent;
    -fx-border-color: #00bcd4;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;

    -fx-border-width: 4px;

    /* inset on top level only required for separating the list view cells */
    -fx-border-insets: 3px, 0px, 0px, 0px;
}

.list-view .list-cell:filled:hover{
    -fx-border-color: #4DD0E1;
}

.list-view .list-cell:filled:selected{
    -fx-border-color: #FB8C00;
}

.list-view .list-cell:empty{
    -fx-background-color: transparent;
}

.search-combo-box{
    -fx-border-color:  #00bcd4;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;

    -fx-pref-width: 200;
    -fx-max-width: 200;

}

.search-combo-box .list-view .list-cell{
    -fx-max-width: 200;
    -fx-pref-width: 200;

}


/*
The following code is not my own.
It has been taken directly from a library which is already a dependency in the project.
all credit goes to its original author
*/

/*
author: Rob Terpilowski

year: Unknown (at least 2014)

source: https://github.com/rterp/StockChartsFX
*/

/*
Copyright 2014 Zoi Capital, LLC

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
 */
.candlestick-tooltip-label {
    -fx-font-size: 0.75em;
    -fx-font-weight: bold;
    -fx-text-fill: #666666;
    -fx-padding: 2 5 2 0;
}

.candlestick-average-line {
    -fx-stroke: #106ece;
    -fx-stroke-width: 2px;
}

.candlestick-candle {
    -fx-background-color: rgba(255,34,34,1.00);
}

.candlestick-line {
    -fx-stroke: #FFFFFF;
    -fx-stroke-width: 1px;
}


.candlestick-bar.close-above-open {
    -fx-background-color: rgba(25,225,25,1.00);
    -fx-border-width: 1, 1,1,1;
    -fx-border-color: #e2e2e2;
}

.candlestick-bar.open-above-close {
    -fx-background-color: rgba(255,34,34,1.00);
    -fx-border-width: 1, 1,1,1;
    -fx-font-weight: bold;
    -fx-border-color: #e2e2e2;
}


.label-gray {
    -fx-background-color: rgba(25,25,25,0.70);
}